{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header>
        <a href="{{ url_for('main.homepage') }}" class="logo"><h1>Carely AI</h1></a>
    </header>

    <!-- Left Column -->
    <div id="left_column">
        <a href="{{ url_for('main.profile') }}" id="profile_link">
            <div id="profile">
                <div id="profile_info">
                    <div id="profile_photo_container">
                        <img src="{{ url_for('main.profile_image') }}" alt="Profile Photo" id="profile_photo">
                    </div>
                    <div id="company_name">{{ session['user'] }}</div>
                </div>
            </div>
        </a>
        <a href="{{ url_for('rag.customer_agent') }}" id="upload_link">Customer Support <br>Carely Agent</a>
        <a href="{{ url_for('business_agent.business_agent') }}" id="dashboard_link">Business Analytics <br> Agent</a>
        <div id="logout_image_container">
            <div id="logout_image_cont">
                <img src="{{ url_for('static', filename='images/logout_img.png') }}" alt="Logout Image" id="logout_image">
            </div>
            <a href="{{ url_for('main.logout') }}" id="logout_link">Logout</a>
        </div>
    </div>

    <!-- Content -->
    <div id="content_1">
        <a href="{{ url_for('auth.send_email_verification') }}" >
            <div class="content-box" id="change_password">
                <p>Change your account password</p>
            </div>
        </a>
        <a href="{{ url_for('main.upload_image') }}" >
            <div class="content-box" id="add_profile_photo">
                <p>Upload or change your profile photo</p>
            </div>
        </a>
    </div>

{% endblock %}
