{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header>
        <a href="{{ url_for('main.homepage') }}"><h1>Carely AI</h1></a>
    </header>

    <div id="left_column">
        <a href="{{ url_for('main.profile') }}" id="profile_link">
            <div id="profile">
                <div id="profile_info">
                    <div id="profile_photo_container">
                        <img src="{{ url_for('main.profile_image') }}" alt="Profile Photo" id="profile_photo">
                    </div>
                    <div id="company_name">{{ session['user'] }}</div>
                </div>
            </div>
        </a>
        <a href="{{ url_for('rag.customer_agent') }}" id="upload_link">Customer Support <br>Carely Agent</a>
        <a href="{{ url_for('business_agent.business_agent') }}" id="dashboard_link">Business Analytics</a>
        <div id="logout_image_container">
            <div id="logout_image_cont">
                <img src="{{ url_for('static', filename='images/logout_img.png') }}" alt="Logout Image" id="logout_image">
            </div>
            <a href="{{ url_for('main.logout') }}" id="logout_link">Logout</a>
        </div>
    </div>

    <!-- Content -->
    <div id="content">

        <h2>Upload Image</h2>

        <form action="{{ url_for('main.upload_image') }}" method="POST" enctype="multipart/form-data" class="upload-form">
            <label for="image">Choose an image to upload:</label>
            <input type="file" id="image" name="image" accept="image/*" class="upload-input">
            <input type="submit" value="Upload" class="upload-submit">
        </form>

        <!-- Flash Messages -->
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash-item {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
